<html>
    <head>
        <title>Spyridoula P.</title>
    </head>
    <body>
        <div>
            <h1><a href="">Let's Get Spyrotechnical!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Hello, World!</a></h2>
            <p>We are finally, kind of, TRULY online!!!! Welcome!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">The Nintendo Switch</a></h2>
            <p>I finally have one, and I LOVE it. While I've only played Splatoon 2 (or as I affectionately call it, SplaTWOn) I am already loving the feel of the system- and Splatwon is real fun too!!</p>
        </div>
    </body>
</html>
